.navbar-default {
  background-color: transparent;
  border-color: transparent;
  .navbar-nav>li>a {
    @extend .font_family: ;
    @extend .font_weight_semi_bold: ;
    background-color: transparent;
    font-size: 14px;
    text-transform: uppercase;
    color: $menuColor;
    &:focus {
      color: $blueColor;
      background-color: transparent;
    }
    &:hover {
      color: $blueColor;
      background-color: transparent;
    }
  }
  .navbar-nav> {
    &.active>a {
      color: $blueColor;
      background-color: transparent;
      &:focus {
        color: $blueColor;
        background-color: transparent;
      }
      &:hover {
        color: $blueColor;
        background-color: transparent;
      }
    }
    &.open>a {
      color: $blueColor;
      background-color: transparent;
      &:focus {
        color: $blueColor;
        background-color: transparent;
      }
      &:hover {
        color: $blueColor;
        background-color: transparent;
      }
    }
  }
  .navbar-toggle .icon-bar {
    background: $blueColor;
  }
}


.navbar-toggle{
  @include tablet{
    margin: 0 !important;  
  }  
  @include phone{
    margin: 0 !important;  
  }
}
.navbar-brand{
  @include tablet{
    padding: 0 !important;  
  }  
  @include phone{
    padding: 0 !important;
  }  
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover{
  color: $blueColor;  
  @include phone{
    color: $blueColor !important;
  }  
}

