//colors
$color_desert: #f8f8f8;
$color_bon: #e1e1e1;
$color_stack: #8f8f8f;
$color_vermilion: #ff4500;

#reddit {
	display: table;
	width: 100%;
	.item {
		display: table-row;
		background: $color_desert;
		border-bottom: 1px solid $color_bon;
	}
	.score {
		display: table-cell;
		padding: 20px;
		vertical-align: middle;
		width: 10%;
		text-align: center;
		border-bottom: 1px solid $color_bon;
	}
	.item-title {
		display: table-cell;
		width: 80%;
		a: ;
		border-bottom: 1px solid $color_bon;
		span {
			font-size: 14px;
			padding-left: 10px;
			color: $color_stack;
		}
	}
	.title {
		height: 60px;
		background: $color_vermilion;
		color: $whiteColor;
		margin-top: 50px;
	}
	.fa-reddit {
		font-size: 40px;
		line-height: 60px;
		margin-left: 30px;
	}
	.item-desc {
		p {
			color: $color_stack;
		}
		a {
			color: $blueColor;
		}
	}
	.item-comments {
		border-bottom: 1px solid $color_bon;
		display: table-cell;
		vertical-align: middle;
		width: 10%;
		text-align: center;
		.img-comment: ;
	}
	.load_more {
		height: 80px;
		background: $color_desert;
		text-align: center;
		display: table;
		width: 100%;
		p: ;
	}
}